 html {
     height: 100%;
}
 body{
     margin:0;
     font-family:'Roboto', sans-serif;
     background-color: #efefef;
}
 .navBar{
     user-select: none;
     height: 80px;
     width: 100%;
     background-color: #733bd5;
     text-align: center;
     position: fixed;
}
 .navBarItemLeft{
     height: 100%;
     display: inline-block;
     text-align: center;
     vertical-align: middle;
     line-height: 80px;
     padding-left: 10px;
     padding-right: 10px;
     background-color: #733bd5;
     color:white;
     margin-right:-4px;
     float:left;
}
.navBarItemRight{
    height: 100%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #733bd5;
    color:white;
    margin-right:-4px;
    float: right;
}
 .navBarTitle{
     height: 100%;
     display: inline-block;
     text-align: center;
     vertical-align: middle;
     line-height: 80px;
     padding-left: 10px;
     padding-right: 10px;
     background-color: #733bd5;
     color:white;
     margin-right:-4px;
     font-size: large;
     float: right;
}
 .navBarItemLeft:hover{
     background-color: #734ad5;
}
.navBarItemRight:hover{
    background-color: #734ad5;
}
 .navBarLogo{
     height: 80%;
     display: inline-block;
     text-align: center;
     vertical-align: middle;
     line-height: 80px;
}
 .content{
     padding-top: 80px;
}
